.calculator-screen{
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    margin: 0.5rem auto;
    width: 100rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
};